body {
  height: 100vh;
  width: 100%;
  font-family: 'Hui';
  background-image: url(../bg-img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

body .header {
  font-family: 'Hui';
  height: 100px;
  width: 90%;
  margin: 20px auto;
  padding: 0 120px;
  background: rgba(187, 202, 182, 0.65);
  border-radius: 50px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header__title {
  font-size: 40px;
  line-height: 90px;
  font-weight: bold;
}

body .header__title--text {
  text-decoration: none;
  color: #fff;
}

body .header__title--text:hover {
  color: #35b640;
  text-shadow: 1px 2px 1px #b4e7b8;
}

body .header__right--btn {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
}

body .header__right--btn--name {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 10px;
}

body .header__right--btn--name--link {
  text-decoration: none;
  color: #fff;
}

body .header__right--btn--name--link:hover {
  color: #35b640;
  text-shadow: 1px 2px 1px #b4e7b8;
}

body .header__right--btn--gest {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 10px;
}

body .header__right--btn:hover {
  color: #35b640;
  text-shadow: 1px 2px 1px #b4e7b8;
}

body .contents {
  position: relative;
  margin: 30px auto 0;
  background-color: #f6f6f6;
  opacity: 0.9;
  height: 520px;
  width: 70%;
  overflow: scroll;
}

body .contents .content {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #5a464648;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .contents .content__left {
  padding-right: 20px;
}

body .contents .content__left--image {
  height: 55px;
  width: 55px;
  border: solid 1px;
}

body .contents .content__right__top {
  font-size: 25px;
  font-weight: bold;
}

body .contents .content__right__top--title {
  text-decoration: none;
  color: #000000;
}

body .contents .content__right__top--title:hover {
  text-shadow: 1px 2px 1px silver;
}

body .contents .content__right__bottom {
  padding-top: 5px;
  font-size: 15px;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .contents .content__right__bottom--userName--btn {
  text-decoration: none;
  color: #999;
}

body .contents .content__right__bottom--userName--btn:hover {
  text-shadow: 1px 1px 1px silver;
}

body .contents .content__right__bottom--date {
  margin-left: 20px;
}

body .contents .content__title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

body .contents .about_btn {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: #75f775;
}

body .contents .about_btn__txt {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: white;
  font-size: 2em;
  text-decoration: none;
}

body .contents .modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

body .contents .modal-wrapper .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

body .contents .modal-wrapper .modal .fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

@media screen and (max-width: 772px) {
  body .header {
    padding: 0 15px;
  }
  body .header__right--btn {
    margin-left: 1px;
  }
  body .contents .content__right__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .contents .content__right__bottom--date {
    margin-left: 0;
  }
}

@media screen and (max-width: 499px) {
  body .header {
    padding: 0 10px;
  }
  body .header__title {
    font-size: 25px;
  }
  body .header__right--btn {
    font-size: 16px;
    margin-left: 1px;
  }
  body .header__right--btn--name {
    font-size: 16px;
    margin-left: 1px;
  }
  body .contents .content__left {
    padding-right: 0;
  }
  body .contents .content__left--image {
    height: 20px;
    width: 20px;
    border: none;
  }
  body .contents .modal-wrapper .modal {
    width: 355px;
    height: auto;
  }
}
/*# sourceMappingURL=index.css.map */