.form{
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  width: 85%;
  &__title{
    display: block;
    font-family: none;
    height: 50px;
    width: 100%;
  }
  &__text{
    display: block;
    font-family: none;
    height: 50%;
    margin-top: 15px;
    width: 100%;
  }
  &__btn{
    background: rgba(187, 202, 182, 0.2);
    border-radius: 5px;
    display: block;
    margin: 15px auto 0;
    width: 30%;
  }
  &__btn:hover {
    background: rgba(187, 202, 182, 0.5);
  }
}