@mixin pagination-trans {
  display: inline-block;
  transition: .8s ;
  transform: rotateX( 0deg ) ;
}
@mixin pagination-hover {
  transform: rotateX( 360deg ) ;
}

.pagination {
  text-align: center;
  margin-top: 2em;
  font-size: 20px;
  a {
    text-decoration: none;
    color: black;
  }
  .last, .first, .prev, .next {
    a {
      font-size: 18px;
      @include pagination-trans();
    }
    a:hover {
      @include pagination-hover();
    }
  }
  .page {
    color: #55c500;
    a {
      @include pagination-trans();
    }
    a:hover {
      @include pagination-hover();
    }
  }
}