.about_btn{
  background: rgba(117, 247, 117, 0.8);
  border-radius: 50%;
  bottom: 20px;
  cursor: pointer;
  height: 130px;
  position: fixed;
  right: 20px;
  width: 130px;
  z-index: 1;
  &__txt{
    color: white;
    font-size: 2em;
    left: 50%;
    position: absolute;
    text-decoration: none;
    top: 45%;
    transform: translateY(-50%) translateX(-50%);
  }
}