body{
  background: image-url('bg-img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Hui';
  height: 100vh;
  @import "header";
  @import "about";
  @import "modal";
  width: 100%;
  // contentsクラスはlayout.html.erbに記載
  .contents{
    background-color: #f6f6f6;
    height: 520px;
    @import "content";
    @import "../device/pagination";
    margin: 30px auto 0;
    opacity: 0.9;
    overflow: scroll;
    position: relative;
    width: 70%;
  }
}
@media screen and (max-width: 772px) {
  body .header {
    padding: 0 15px;
    &__right {
      &--btn {
        margin-left: 1px;
        &--name {
          margin-left: 1px;
        }
      }
    }
  }
  body .contents {
    .content {
      &__right {
        &__bottom{
          flex-direction: column;
          &--date {
            margin-left: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 499px) {
  body .header {
    padding: 0 10px;
    &__title {
      font-size: 22px;
    }
    &__right {
      &--btn {
        font-size: 13px;
        margin-left: 1px;
        &--name {
          font-size: 13px;
        }
      }
    }
  }
  body .contents {
    width: 90%;
    .content {
      display: flex;
      justify-content: center;
      &__left {
        display: none;
      }
      &__right {
        &__top {
          font-size: 18px;
        }
        &__bottom {
          font-size: 13px;
        }
      }
    }
  }
  body .about_btn{
      height: 100px;
      width: 100px;
    }
  body .modal-wrapper{
    .modal {
      width: 80%;
    }
  }
}