<% @posts.each do |post| %>
  <%# _post.html.erbの呼び出し %>
  <%= render partial: "post", locals: { post: post } %>
<% end %>
<div class="about_btn">
  <div class="about_btn__txt">
    about
  </div>
  <%# <script>
    $(function() {
      $('.about_btn').fadeOut(5000);
    });
  </script> %>
</div>
<div class="modal-wrapper">
  <div class="modal">
    <h2>My-Study</h2>
    <h3>あなただけの学習の足跡を残してみましょう!</h3>
    まるでノートに書いていくような<br>
    シンプルデザインのブログアプリです<br>
    毎日の記録や過去の振り返りにお役立てください
    <i class="fa fa-2x fa-times"></i>
  </div>
</div>
<%# paginate.scssはstylesheet/deviceの中に記載 %>
<%= paginate(@posts) %>